.swiper-pagination-bullet-custom {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 0 4px;
  opacity: 0.8;
}

.swiper-pagination-bullet-custom-active {
  background: #FFD700;
  transform: scale(1.2);
  opacity: 1;
}

.custom-swiper .swiper-pagination {
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 10;
  display: none;
}
